<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCDLdbke8ljq8jU0Heaz0nB6tncLCsGJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>650356602706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloudAuthenticator</string>
	<key>PROJECT_ID</key>
	<string>cloud-authenticator-f880e</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-authenticator-f880e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650356602706:ios:b5c2c4d0ce0a7b3499ac8b</string>
</dict>
</plist>